@model AdventuresWebApp.Models.DatabaseLog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>DatabaseLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DatabaseLogId" />
            <div class="form-group">
                <label asp-for="PostTime" class="control-label"></label>
                <input asp-for="PostTime" class="form-control" />
                <span asp-validation-for="PostTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatabaseUser" class="control-label"></label>
                <input asp-for="DatabaseUser" class="form-control" />
                <span asp-validation-for="DatabaseUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event" class="control-label"></label>
                <input asp-for="Event" class="form-control" />
                <span asp-validation-for="Event" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schema" class="control-label"></label>
                <input asp-for="Schema" class="form-control" />
                <span asp-validation-for="Schema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Object" class="control-label"></label>
                <input asp-for="Object" class="form-control" />
                <span asp-validation-for="Object" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tsql" class="control-label"></label>
                <input asp-for="Tsql" class="form-control" />
                <span asp-validation-for="Tsql" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XmlEvent" class="control-label"></label>
                <input asp-for="XmlEvent" class="form-control" />
                <span asp-validation-for="XmlEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
